body {
    display: flex;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #8B4513;
    color: rgb(95, 0, 0);
}

.bg-img {
    background-image: url('images/background.jpg');
    min-height: 100%;
    width: 30vw;
    background-size: cover;
    position: relative;
}

.dark {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgb(61, 61, 61);
    opacity: 0.6;
    z-index: 1;
    height: 200px;
    width: 100%
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 100%;
}

.logo img {
    height: 200px;
}

.credit {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.credit a {
    color: grey;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
    overflow: auto;
}

.intro {
    font-size: 1.5em;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
    width: 50vw;
    margin-bottom: 5vh;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 0, 0);
}

.inputs {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    background-color: rgb(95, 0, 0);
    color: #8B4513;
    gap: 3vh;
    margin-left: 5vw;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    font-size: 1.5em;
}

.names,
.email-and-phone,
.pass {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

label {
    font-size: 0.9em;
    font-weight: bold;
}

input {
    width: 300px;
    height: 20px;
    background-color: rgb(95, 0, 0);
    border: 1px solid #8B4513;
    color: #8B4513;
    font-size: 1.2em;
    padding: 2px;
}

input:focus:invalid,
input:focus:valid {
    outline: none;
    border: 2px solid rgb(93, 93, 247);
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(71, 71, 185);
}

.create-acc {
    margin-top: max(60px);
    font-size: 1.4rem;
    max-height: 10vh;
    background-color: #8B4513;
    width: 100%;
}

.create-acc button{
    margin-top: 5vh;
    transition: 0.4s;
    border-radius: 15px;
    background-color: #552300;
    color: #8B4513;
    border: 0;
    min-height: 7vh;
    width: 15vw;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 5vw;
}

.create-acc button:hover{
    transition: 0.4s;
    color: #552300;
    background-color: #8B4513;
    border: 1px solid #552300;
    cursor: pointer;
}

.create-acc p {
    color: rgb(95, 0, 0);
    font-size: 1.2em;
    margin-left: 5vw;
}

#login {
    color: #552300;
    cursor: pointer;
}


input:required:invalid.error {
    border: 2px solid red;
}

input:required:valid.error{
    border: 2px solid red;
}


#passError {
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
}